body {
    header {
        h1 {
            color: $word-color-5;
        }

        p {
            color: $word-color-4;
        }
    }

    #rate-section {
        .rate-card {
            background-color: $rate-card-background
        }
    }

    #comment-section {
        .comment-card {
            background-color: $comment-card-background;

            .card-header {
                background-color: transparent;

                h6 {
                    color: $word-color-1;
                }

                p {
                    color: $word-color-3;
                }
            }

            p {
                color: $word-color-2;
            }
        }
    }
}