// Colors
$comment-card-background: rgb(80, 32, 80);
$rate-card-background: rgb(247, 242, 247);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(247, 242, 247);
$word-color-3: rgb(238, 104, 164);
$word-color-4: rgb(147, 123, 146);
$word-color-5: rgb(80, 32, 80);

// Font Weights
$weight-4: 400;
$weight-5: 500;
$weight-7: 700;